# Django
SECRET_KEY=replace-with-a-secure-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=

# NLP
NLP_MODEL_PATH=ml/models/classifier_v2.pkl
NER_MODEL_PATH=ml/models/ner_model_v1
NLP_CONFIDENCE_THRESHOLD=0.65

# Dashboard gate
DEMO_PASSWORD=admin123

# Meta (we need to add this later when we set up the Facebook app)
META_APP_ID=
META_APP_SECRET=
META_VERIFY_TOKEN=
META_PAGE_ACCESS_TOKEN=